#recipientBox Zifting for your 
  span.recipient friend
  a(href="#", id="reset") [change recipient]

#questionsFrame
  #questions
    .question

#sendForm.modal.hide.fade
  .modal-header
    a.close(href="#") x
    h3 Send Product to a Friend
  .modal-body
    form
      fieldset
        .clearfix
          label(for="to") Recipient's email
          .input
            input#to.xlarge.required(name="to", size="30", type="text")
        .clearfix
          label(for="sender") Your Email
          .input
            input#sender.xlarge.required(name="sender", size="30", type="text")
        .clearfix
          label(for="firstName") Your First Name
          .input
            input#firstName.xlarge.required(name="firstName"", size="30", type="text")
        .clearfix
          label(for="lastName") Your Last Name
          .input
            input#lastName.xlarge.required(name="lastName", size="30", type="text")
        .clearfix
          label(for="message") Message
          .input
            textarea#message.xlarge(name="message", size="30", rows="3")
        
  .modal-footer
    a.btn.primary Send
    a.btn.secondary.close-modal Cancel