a {
	color: #558abe;
}

#header {
	margin: 30px auto;
	text-align: center;
}

#header .logo {
	margin: 30px auto;
	width: 300px;
}

#header,
#content,
footer{
  width:800px;
  margin:0 auto;
}

#content p.lead{
  margin-bottom: 9px;
  color: #14172a;
  text-align: center;
  font-size:20px;
}

.btn{
  margin:0 4px;
}

.btn.multiple{
  display:block;
  margin:10px;
  width:200px;
  text-align:center;
}

.btn.large {
	margin: 20px auto;
}

a.btn.primary {
	background: #f1f1f1;
	background-color: #f1f1f1;
	color: #14172A;
	background-image: none;
}

a.btn.primary:hover {
	background: #b6cde3;
}

footer{
  overflow:hidden;
}

footer .left{
  float:left;
  width:360px;
  margin-top:2px;
}

footer .right{
  float:right;
  text-align:right;
  width:430px;
}


#questionsFrame{
  width:600px;
  height:400px;
  overflow:hidden;
  margin:20px auto;
}

#questions{
  width:100000px;
}

#questions .question{
  width:560px;
  height:360px;
  overflow:hidden;
  padding:20px;
  float:left;
  text-align: center;
}

#questions .question .questionText{
  font-weight:bold;
  font-size:30px;
  color: #14172A;
}

#questionsFrame.well {
  background-color: #fff;
  box-shadow: none;
  border: none;
}

.answers {
	margin-top: 40px;
  line-height:42px;
}